<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="60"
    src="assets/images/logo.png" />
  <span class="header-top">Source Extraction Feasibility Predictor</span>
  <div class="spacer"></div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger class="mr-20">
      <mat-icon class="setting-icon">settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu" backdropClass="custom-menu-panel">
      <div class="theme-modal-wrapper">
        <div>
          <h3 class="modal-header-wrapper">Theme Colors</h3>
        </div>
        <div class="color-round-wrapper">
          <div class="flex">
            <div class="color-round" style="background-color: black;" (click)="onTheme('BLACK')"></div>
            <div class="color-round" style="background-color: blue;" (click)="onTheme('BLUE')"></div>
            <div class="color-round" style="background-color: yellow;" (click)="onTheme('YELLOW')"></div>
          </div>
          <div class="flex">
            <div class="color-round" style="background-color: red;" (click)="onTheme('RED')"></div>
            <div class="color-round" style="background-color: green;" (click)="onTheme('GREEN')"></div>
            <div class="color-round" style="background-color: pink;" (click)="onTheme('PINK')"></div>
          </div>
          <div class="flex">
            <div class="color-round" style="background-color: white;" (click)="onTheme('WHITE')"></div>
            <div class="color-round" style="background-color: orange;" (click)="onTheme('ORANGE')"></div>
            <div class="color-round" style="background-color: purple;" (click)="onTheme('PURPLE')"></div>
          </div>

        </div>
      </div>
    </mat-menu>
  </div>
  <button mat-stroked-button type='button' class="mr-20" *ngIf="loggedIn" (click)="logout()">Log out</button>
</div>


<router-outlet></router-outlet>