$color-black: #ffc107 !important;
$color-black-light: #dcbb36 !important;
$color-font: #000000;
$color-bg: #fdd250 !important;

tbody,
.mat-paginator {
    background: $color-bg;
}

.toolbar,
thead,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $color-black;
}

mat-card {
    background: $color-black-light;
}

.toolbar,
thead,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
h2,
.mat-form-field-label,
input.mat-input-element,
mat-icon,
td,
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select-value,
.mat-select-arrow,
.search-field-wrapper.mat-form-field-outline {
    color: $color-font !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-sort-header-arrow,
[dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow,
th.mat-header-cell {
    color: $color-font;
}
