mat-card {
    text-align: center;
    margin: 30px;
}

mat-form-field {
    display: block;
    margin-bottom: 20px;
}

.login-wrapper {
    margin: 30px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}
.box > * {
    flex: 1 1 160px;
}

.box-col {
    margin-right: 20px;
}