<div class="dashboard-wrapper">
  <mat-card class="display-grid">
    <mat-card-content>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <h2>Source Filter </h2>
        <div class="login-wrapper">
          <div class="box">
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>URL</mat-label>
                <input matInput formControlName="url" required>

                <mat-error class="text-error caption-typo"
                  *ngIf="formData.controls['url'].errors && formData.controls['url'].errors.pattern">
                  Please enter a valid URL
                </mat-error>
                <mat-error class="text-error caption-typo"
                  *ngIf="formData.controls['url'].errors && formData.controls['url'].errors.required">
                  URL is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error>
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Country</mat-label>
                <input type="text" aria-label="Country" formControlName="country" matInput [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayNationality">
                  <mat-option *ngFor="let option of filteredNationalityList | async" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
                <i class="fa fa-search search_ico"></i>
                <mat-error>
                  Please provide a valid country
                </mat-error>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Language</mat-label>
                <input type="text" aria-label="language" formControlName="language" matInput [matAutocomplete]="auto2"
                  required>
                <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayLanguage">
                  <mat-option *ngFor="let option of filteredLangList | async" [value]="option">
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
                <i class="fa fa-search search_ico"></i>
                <mat-error>
                  Language is required
                </mat-error>
              </mat-form-field>
            </div>

          </div>
          <div class="box">
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Original Hunch</mat-label>
                <mat-select formControlName="hunch">
                  <mat-option>None</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Quality Of Site</mat-label>
                <mat-select formControlName="hunch">
                  <mat-option>None</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Source Type</mat-label>
                <mat-select formControlName="sourceType" required>
                  <mat-option value="Company Registry">Company Registry</mat-option>
                  <mat-option value="Charity">Charity</mat-option>
                  <mat-option value="Stock Exchange">Stock Exchange</mat-option>
                  <mat-option value="Regulator">Regulator</mat-option>
                  <mat-option value="Person">Person</mat-option>
                </mat-select>
                <mat-error>
                  Source Type is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="box-col">
              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Approved Authority</mat-label>
                <input matInput formControlName="authority">
                <mat-error>
                  Please provide a valid Authority
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="box">
            <div class="box-col ">
              <mat-slide-toggle formControlName="isHttps">Https</mat-slide-toggle>
            </div>
            <div class="box-col">
              <mat-slide-toggle formControlName="isGovernmentSource">Government Source </mat-slide-toggle>
            </div>
            <div class="box-col">
              <mat-slide-toggle formControlName="isLoginRequire">Login Required</mat-slide-toggle>
            </div>
            <div class="box-col">
              <mat-slide-toggle formControlName="isreCaptcha">reCAPTCHA</mat-slide-toggle>
            </div>
            <div class="box-col">
              <mat-slide-toggle formControlName="isCaptcha">CAPTCHA</mat-slide-toggle>
            </div>
          </div>
          <div class="float-right">
            <button mat-raised-button color="primary" class="run-model-btn mr-10">Run Model</button>
            <button mat-raised-button color="primary" type="button" (click)="viewPreviousResult()" class="run-model-btn">View Previous Results</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>