.toolbar.mat-form-field {
    margin-right: 20px;
    margin-top: 10px;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar {
    top: 0px !important;
    position: sticky !important;
    z-index: 1000;
}

.result-list-wrapper .search-field-wrapper .mat-form-field-outline {
    background: transparent !important;
}

.mat-card {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 30%);
    padding: 30px !important;
}

.dashboard-wrapper,
.login-full-wrapper {
    margin-top: -80px;
}

.result-list-wrapper {
    margin-top: -110px;
}

th.mat-header-cell {
    font-size: 14px;
}

.mat-input-element {
    height: 20px !important;
    position: relative;
    top: -3px;
}

mat-divider {
    margin-top: 25px !important;
}

.sign-up-text {
    margin-left: 10px;
}

.run-model-btn {
    margin-top: 30px !important;
}

.search-icon {
    position: relative;
    top: -3px;
}
.color-round {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

.theme-modal-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.flex {
    display: flex;
}

.mr-10 {
    margin-right: 10px !important;
}

// Result-list--START
.result-list-wrapper {
    table {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        min-width: 500px;
    }
    th.mat-header-cell {
        text-align: left;
        max-width: 300px;
    }

    .result-list-wrapper {
        padding: 20px;
    }

    .result-list-container {
        padding: 20px;
    }

    .mat-icon-prefix {
        font-size: 24px;
        margin-right: 8px;
    }

    .search-field-wrapper {
        width: 100%;
        .mat-form-field-outline {
            border-radius: 5px;
        }
        input.mat-input-element {
            position: relative;
            top: -5px;
        }
    }
}

// Result-list--END

// Dashboard -- START
.dashboard-wrapper {
    mat-card {
        text-align: center;
        margin: 30px;
    }

    mat-form-field {
        display: block;
        margin-bottom: 20px;
    }

    .login-wrapper {
        margin: 30px;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
    }
    .box > * {
        flex: 1 1 160px;
    }

    .box-col {
        margin-right: 20px;
    }
}

// Dashboard -- END

// Login -- START
.login-full-wrapper {
    mat-card {
        max-width: 400px;
        margin: 2em auto;
        text-align: center;
    }

    mat-form-field {
        display: block;
        margin-bottom: 20px;
    }

    .login-wrapper {
        margin-top: 30px;
    }

    .new-user-wrapper {
        margin-top: 20px;
        .new-user-text {
            margin-right: 8px;
        }
    }
}
// Login -- END

//Stepper-Input -- START

.stepper__input {
    width: 100%;
    max-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .stepper__input .stepper-input-field {
    color: #16489d;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    line-height: 25px;
    border: none;
    text-align: center;
    margin: 0 7px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: calc(100% - 25px - 14px);
  }
  
  .stepper__input button {
   
  }

  //Stepper - Input -- END
