.cdk-overlay-pane {
    .mat-menu-panel,
    .mat-select-panel {
        background: #454545 !important;
    }

    .mat-select-panel-wrap {
        .mat-menu-panel,
        .mat-option {
            color: #d4d4d4 !important;
        }
    }
    
    .cdk-overlay-pane .mat-autocomplete-panel .mat-option {
        color: #000000;
    }
}
