$color-black: #313030 !important;
$color-black-light: #2a2a2a !important;
$color-black-light-01: #4f4f4f !important;
$color-font: #d4d4d4;
$color-bg: #363636;
$color-btn-bg: #3c3c3c !important;
$color-toggle-on: rgb(121 121 121) !important;

tbody,
.mat-paginator {
    background: $color-bg !important;
}

thead,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $color-black-light-01;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $color-btn-bg;
}

.toolbar,
mat-card,
.mat-menu-panel {
    background: $color-black-light;
}

.toolbar,
thead,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
h2,
.mat-form-field-label,
input.mat-input-element,
mat-icon,
td,
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select-value,
.mat-select-arrow,
.search-field-wrapper.mat-form-field-outline,
.mat-slide-toggle-content,
.new-user-text,
.sign-up-text,
.stepper-input-field {
    color: $color-font !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-sort-header-arrow,
[dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow,
th.mat-header-cell {
    color: $color-font;
}

.info-tooltip {
    background-color: $color-black-light !important;
}


input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $color-black-light inset; 
    -webkit-text-fill-color: $color-font;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $color-black-light inset;
    -webkit-text-fill-color: $color-font;
}

.mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-font;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $color-toggle-on;
}

.mat-divider {
    border-color: $color-font !important;
}
