$color-toolbar: #121545 !important;
$color-card-bg:#2b2d54 !important;
$color-thead: #06094a !important;
$color-font: #d4d4d4;
$color-bg: #393b6ae0;
$color-btn-bg: #00032c !important;
$color-toggle-on: rgb(121 121 121) !important;
$color-invalid-score-row: #523232;
$color-latest-row: #383050;
$color-row-hover: #4a4d8e;

tbody,
.mat-paginator,
tr.mat-row, 
tr.mat-footer-row {
    background: $color-bg;
}

thead {
    background-color: $color-thead;
}

tr.mat-row:hover {
    background: $color-row-hover;
}

tr.mat-row.invalidScore {
    background-color: $color-invalid-score-row;
}

tr.mat-row.latestRow {
    background-color: $color-latest-row;
}

mat-row, mat-header-row, 
mat-footer-row, 
th.mat-header-cell, 
td.mat-cell, 
td.mat-footer-cell {
    border-bottom-color: $color-thead;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary {
    background-color: $color-btn-bg;
}

.mat-stroked-button {
    border-color: $color-btn-bg;
}

.toolbar {
    background: $color-toolbar;
}

mat-card,
.mat-menu-panel {
    background: $color-card-bg;
}

.toolbar,
thead,
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
h2,
.mat-form-field-label,
input.mat-input-element,
mat-icon,
td,
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select-value,
.mat-select-arrow,
.search-field-wrapper.mat-form-field-outline,
.mat-slide-toggle-content,
.new-user-text,
.sign-up-text,
.stepper-input-field {
    color: $color-font !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-sort-header-arrow,
[dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow,
th.mat-header-cell {
    color: $color-font;
}

.info-tooltip {
    background-color: $color-toolbar !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px $color-toolbar inset;
    -webkit-text-fill-color: $color-font;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px $color-toolbar inset;
    -webkit-text-fill-color: $color-font;
}

.mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-font;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $color-toggle-on;
}

.mat-divider {
    border-color: $color-font !important;
}
